* text=auto eol=lf

/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/AGENTS.md export-ignore
/CONTRIBUTING.md export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/pint.json export-ignore
/testbench.yaml export-ignore
/tests export-ignore

/package.json export-ignore
/package-lock.json export-ignore
